.upload{
  padding: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
    /* background-image: url("/images/background2.jpg"); */
   background: cadetblue;
    /* backdrop-filter: blur(4px); */
}
.container-fluid{
    padding: 0;
}
.navbar{
    /* display: flex; */
    padding: 0;
    padding-left: 5%;
    margin: 0;
    width: 100%;
    background-color: #1F3D4F;
    /* background : linear-gradient(to right, #1F3D4F, #427fa5); */
    color: #F1F8BB!important;
}
.nav-link{
    color: #F1F8BB!important;
}
.navbar-brand{
    color: #F1F8BB!important;
}
.card-title{
    display: flex !important;
    justify-content: center!important;
}
.card-text
{
    margin-top: 15%;
    display: flex !important;
    justify-content: center!important;
    color: skyblue;
}
.card{
    padding: 5%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* add strong background shadow */
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* #ACC6C7, #90BDBF */ 
     
}
  .card.saved{
    background-image: url("/images/saved-puzzles-background.png");
    background-size: cover;
  } 
  
  .card-title{
    color: yellow;
    text-shadow: 2px 2px 2px #000000;
    font-size: larger;
    font-size: 30px;
    margin-top: -10%;
  }
  input[type="submit"] {
    /* margin: 0; */
    width: 70%;
  }
  
  