*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.puzzle{    
    display: flex;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.mytable{
    padding: 0%;
    margin: 0%;
}
.btn{
    height: 200px;
    width: 200px;
 }
 .btn:hover{
    background-color: #1F3D4F;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
 }
 .navbar{
    padding-left: 5% !important;
    margin: 0;
    width: 100%;
    background-color: #1F3D4F;
    color: #F1F8BB!important;
}
.nav-link{
    color: #F1F8BB!important;
}
.navbar-brand{
    color: #F1F8BB!important;
}
.navv{
    background-color:cyan!important;
    color: #F1F8BB!important;
}
.functionalBtns{
    position: relative;
    left: 8%;
    margin-top: 25%;
}
#shuffle{
  width: 120%;
  height: 50px;   
  /* margin-bottom: 10%; */
  margin: 10% 0%;
  border-radius: 10px;
  background-color: linear-gradient(to bottom right, #ACC6C7, #90BDBF);
}
#reset{
  width: 120%;
  height: 50px;   
  border-radius: 10px;
  background-color: linear-gradient(to bottom right, #ACC6C7, #90BDBF) ;
}
.puzzle-box{
    display: inline;
}